html {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
}

@keyframes animation_yellow {
    0% {
        transform: translate3d(-50px, 50px, 0px);
        opacity: 0;
    }

    50% {
        transform: translate3d(0px, 0px, 0px);
        opacity: 1;
    }
}

@keyframes animation_blue {
    0% {
        transform: translate3d(40px, -40px, 0px);
        opacity: 0;
    }
    15% {
        transform: translate3d(40px, -40px, 0px);
        opacity: 0;
    }

    50% {
        transform: translate3d(0px, 0px, 0px);
        opacity: 1;
    }
}

@keyframes animation_white {
    0% {
        background-color: transparent;
    }
    49% {
        background-color: transparent;
    }
    55% {
        background-color: white;
    }
}

main {
    width: inherit;
    height: inherit;
}

.main-container {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    justify-content: center;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}

.circle-wrapper {
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.blue-wrapper {
    width: 70px;
    height: 70px;
    margin-left: 45px;
    margin-bottom: 50px;   
    position: absolute; 
    display: flex;
    display: -webkit-flex;
    animation: animation_white 2.7s linear;
    background-color: white;
    z-index: 1;
}

.blue-wrapper::after {
    content: "";
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(20, 70, 255, 0.8);
    animation: animation_blue 2.7s linear;
}


.red-circle {
    width: 70px;
    height: 70px;
    background-color: rgba(255, 190, 90, 0.8);
    border-radius: 50%;
    margin-right: 35px;
    position: absolute;
    margin-top: 40px;
    animation: animation_yellow 2.7s linear;
}